body{
    color:#333131;
    flex-direction: column;
} 
main {
    display:grid;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: flex-start;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}


.logo {
    align-items: flex-start;
    width: 100px;
}
 .scooter{
    display: flex;
    justify-content:space-around;
    width: 200px;
}
.twitter{

}
.facebook{

}

p{
    color:#333131;
}
p1{
    color:#333131;
}
p2{
       color:#ff8480;
   } 

p3{
    color:#333131;
    font-size: 18px;
}
p4{
    color:333131;
}

footer{
    background-color: #fffd8c;

}

.logo {
    align-items: flex-start;
    width: 100px;
}

.scooter {
    display: flex;
    justify-content: space-around;
    width: 100px;
}
button{
    background-color: #57eeab;
}
button2{
    background-color: #ff8480;
    color:#f7f7ff;
}
.twitter {
}
@media screen and(min-width:650px){
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


}
@media screen and(min-width:900px){
    img .logo {
        width:100%;
    }
    main{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }