
/*Changes the attributes, such as color, font type, and displays the grid, of the content in the body of the code*/
main{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#333131;
    flex-direction: column;
    display:grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.logo{
    grid-column: 1/1;
    grid-row: 1/2;
}

/*Changes the attributes  and dimensions of the image scooter*/
 .scooter{

     grid-column: 1/1;
     grid-row: 2/2;
     float: none;
}

/*Changes the attributes and dimensions of the form and all its elements*/
.form{
    grid-column: 1/1;
    grid-row: 3/5;
    text-align: center;
    border-radius: 8px;
    background-color: #f7f7ff;
    padding:20px;
}

/*Changes the attributes and dimensions of the footer and its elements*/
footer {

    grid-column: 1/1;
    grid-row: 5/6;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 30px;
    text-align: center;
    background-color: #fffd8c;

}

/*Changes the attributes of the header h1 such as color and size*/
h1{
    font-size: 80px;
}

/*Changes the attributes of the header h2 such as color and size*/
h2{
    align-items: center;
    font-size: 24px;
}

/*Changes the attributes and dimensions of the image twitter*/
.twitter {
    padding:5%;
    align-items: center;
}

/*Changes the attributes and dimensions of the image facebook*/
.facebook {
    padding:5%;
    align-items: center;
}

/*Changes the attributes and dimensions of the image instagram*/
.instagram {
    padding:5%;
    align-items: center;
}

/*Changes the attributes and dimensions of the image linkedin*/
.linkedin{
    padding:5%;
    align-items: center;
}

/*Changes the attributes of paragraph*/
p{
    font-size: 24px;
    color:#333131;
}

/*Changes the attributes of paragraph 1*/
p1{
    color:#333131;
}

/*Changes the attributes of paragraph 2*/
p2{
       color:#ff8480;
   } 

   /*Changes the attributes of paragraph 3*/
p3{
    color:#333131;
    font-size: 18px;
}

/*Changes the attributes of paragraph 4*/
p4{
    color:#333131;
}

/*Changes the attributes of paragraph 5*/
p5{
    font-size:16px;
}

/*Changes the attributes of button*/
button{
    
    border-radius:8px;
    padding:14px 20px;
    background-color: #57eeab;
    font-size: 18px;
}

/*Changes the attributes of button2*/
 button2 {
   
    font-family:Georgia;
    padding:14px 40px;
    border-radius: 8px;
    font-size:24px;
    background-color:#ff8480;
    color:#f7f7ff;
}

/*Tablet size*/
/*Changes the attributes and dimensions of any element at a min-width of 650px for tablet size responsive coding*/
@media screen and (min-width:650px) {

/*Changes the attributes of the body at min-width 650px */
body {
    background-color: coral;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/*Changes the attributes of footer and its elements at min-width 650px*/
footer{

    grid-template-columns:1/2 ;
    grid-template-rows:3/3 ;
}

/*Changes the attributes of scooter at min-width 650px*/
 .scooter{
    width:500px;
    align-items: center;
    grid-template-columns:1/2 ;
    grid-template-rows: 2/4;
}

}

/*Desktop Size*/
/*Changes the attributes and dimensions of any element at a min-width of 900px for Desktop size responsive coding*/
@media screen and (min-width:900px) {

/*Changes the attributes and dimensions of any element in main at min width 900px for desktop size responsive coding*/
 main{
     background-color: cyan;
     display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: (repeat(5, 1fr));
 }
    /*positions logo class in grid column 1 to 2 and row 1 to 3 and changes the attributes of class logo*/
    .logo{
        grid-column: 1/span2;
        grid-row: 1/span3;
        float:left;
    }

    /*positions scooter class in grid column 2 to 3 and row 2 to 3 and changes the attributes of class scooter*/
    .scooter{
        grid-column: 1/span2;
        grid-row: 2/span3;
     }

     /*positions form class in grid column 3 to 4 and row 2 to 3 and changes the attributes of class form*/
     .form{
         grid-area: form;
         grid-column: 3/ span 4;
         grid-row: 2/ span 3;
     }
   
     /*Changes attributes of all elements in the footer at min width 900px*/
     .footer{
         grid-column: 1/5;
         grid-row: 5/5;
     } 
    
     /*Changes alignment of instagram logo*/
    .instagram{
        align-items: flex-end;
    }
    
    /*Changes alignment of twitter logo*/
    .twitter{
        align-items: flex-end;
    }

    /*Changes alignment of facebook logo*/
    .facebook{
        align-items: flex-end;
    }

    /*Changes alignment of linkedin logo*/
    .linkedin{
        align-items: flex-end;
    }

   
   
   
   
}