*{
    box-sizing:border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#333131;
    flex-direction: column;
} 
main {
    display:grid;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: flex-start;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

header{
    text-align: center;
}
 .scooter{
     align-items: center;
    
}

h1{
    font-size: 80px;
}
h2{
    align-items: center;
    font: 24px;
}
.twitter{
    padding:5%;
    align-items: center;
}
.facebook{
    padding:5%;
    align-items: center;

}
.instagram {
    padding:5%;
}
.linkedin{
    padding: 5%;
}

p{
    font-size: 24px;
    color:#333131;
}
p1{
    color:#333131;
}
p2{
       color:#ff8480;
   } 

p3{
    color:#333131;
    font-size: 18px;
}
p4{
    color:333131;
}
p5{
    font-size:18px;
}

form{
    
    align-items:center;
    padding:30px;
}
footer{
    text-align: center;
    background-color: #fffd8c;

}

button{
    font-family: Georgia;
    margin: 36px;
    background-color: #57eeab;
    font-size: 30px;
}

button2{
font-family: Georgia;
    margin: 30px;
    font-size: 30px;
    background-color:#ff8480;
    color:#f7f7ff;
}

@media screen and(min-width:650px){
main {
    display: grid;
    flex-wrap: wrap;
    /*max-width: 650;
    justify-content: flex-start;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
form {
    display: grid;
    flex-wrap: wrap;
    max-width: 650;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
/*footer{
   / width:100%;
    height:auto;

}*/

img .scooter{
    width:500px;
    align-items: center;

}
}


@media screen and(min-width:1200px){
    
    main{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}