
/*Color of the body of index page*/
body{
   color:#BCECE0;
  
}
/*Color of background for all paragraphs*/
 p{
   background-color: #D0F4EA;
 }
  
 
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }


  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  p.solid{border-style:solid;}

    img {
  float: left;}
* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;

    background-color: #A9DDD6;
}

.navbar {
  width: 100%;
  background-color: #D0F4EA;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  width: 33%; /* Three links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}



@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }

}