* {
    box-sizing: border-box;
}

body {
    display: grid;
    background-color:#EFEFDF;

}
/* Images*/



/*Typography*/
h1 {
    color: #5ED5D5;
    font-family: Kokonor;
    font-size: 36px;
}

h2 {
    font-family: Big Calson;
    font-size: 12;
    color: #7f7f7f;
}

p {
    font-family: Big Caslon;
    color: #7f7f7f;
    font-size: 12;
}


/*Links*/



/*Layouts*/
.wrapper{
    display: grid;
    }

.wrapper-home{
justify-content: space-evenly;
background-image:url("../images/hudportrait-300.psd");
align-content: center;
grid-gap:10px;
grid-row-gap:10px;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-template-areas: 
"header"
"snowsm"
"pinkhoodysm"
"doggysm"
"fishsm"
"skism"
"footer"
}

.pinkhoodysm{
    grid-area: pinkhoodysm;
}

.doggysm{
    grid-area:doggysm;
}

.fishsm{
    grid-area: fishsm;
}

.skism{
    grid-area: skism;
}

.header{
    grid-area: header;

}

.snowsm{
    grid-area: snowsm;
    position:30px 30px;
    align-content: center;

}

.wrapper-about{

    display:grid;
    background-color: white;
    border:solid black 1rem;
    align-items: center;
    width:80%;
    position: absolute;

}

img{
 border:solid 0.5rem black;
}

.icons{

    border:none;
}

a{
    display:block;
    color:#C72CDB;
    padding:12px; 
    text-decoration:none;
}

 a:hover{
    color:#5ED5D5;
}

.menu{

    display:flex;
    grid-area: menu;
    font-family:Chalkboard;
    font-size: 24px;
    color:#C72CDB;
    width:50%;
    padding:12px 16px;
    z-index:auto;
}

 .a:active{
    color:#F5EDED;
}

footer{
    display:grid;
    grid-auto-columns: 1fr 1fr;
    grid-area:
    "menu menu"
    "icons copyrights";
    width:100%;
    border: solid 0.5rem black;
    background-color:#687783;
    color:#EFEFDF;
}

.icons{
    grid-area:icons;

}

.copyrights{
    grid-area:copyrights;
}

@media screen and (min-width:690px){
    body{
    display:grid;
    }
    .wrapper{

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-area:
    "header header header"
    "snowsm snowsm snowsm"
    "pinkhoodysm pinkhoodysm pinkhoodysm"
    "doggysm doggysm doggysm"
    "fishsm fishsm fishsm"
    "footer footer footer"

    }

}

@media screen and(min-width:900px){

    body{
        Display:grid;
    }

    .wrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-area:
        "header header header header "
        "snowsm snowsm snowsm snowsm"
        "pinkhoodysm pinkhoodysm pinkhoodysm pinkhoodysm"
        "doggysm doggysm doggysm doggysm"
        "fishsm fishsm fishsm fishsm"
        "footer footer footer footer"

    }

}

