* {
    box-sizing: border-box;
}

body {
    display: grid;
    background-color:#EFEFDF;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: auto;
}

.wrapper{
    grid-area: auto;
}

.header{
    grid-area:auto;

}

h1{
    color:#5ED5D5;
    font-family:Kokonor;
    font-size: 36px;
}

h2{
    font-family: Big Calson;
    font-size: 12;
    color:#7f7f7f;

}

p{
   font-family: Big Caslon;
   color:#7f7f7f;
   font-size: 14;
} 

.about{
    background-color: white;
    border-radius:solid black 1rem;

}

.images{
    border:solid 1rem black;
}


.wrapper{
    align-content: center;
    background-image:url("images/HudPortrait.jpg");
    border:solid 1rem black;
    width:80%;
    background-position: center;
}

a{
    display:block;
    color:#C72CDB;
    padding:12px; 
    text-decoration:none;
}

 a:hover{
    color:#5ED5D5;
}

.menu{
    display:flexbox;
    position:relative;
}

.menu{
    display:flexbox;
    font-family:Chalkboard;
    font-size: 24px;
    color:#C72CDB;
    position:relative;
    width:50%;
    padding:12px 16px;
    z-index:auto;
}

 .a :active{
    color:#F5EDED;
}


@media screen and (min-width:690px){
    body{
    display:grid;
    }

}

@media screen and(min-width:900px){

    body{

    }

}

