/* For display on screen size 600px and under, Mobile size*/
/* Mobile Window */

    
    #nav.nav{
       border: 3px solid black;
        background-color: beige;
        text-align: center;


    }
    .nav{
        display:flex;
        text-align: center;
    }
    .nav .nav-link {
        margin: 1rem;

        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
    }
    #main.main{
        background-color: cadetblue;
        text-align: center;
    }


/*Web page*/
@media screen and (max-width: 600px){



}

@media screen and (max-width: 900px){

}