/* Css StyleSheet */

/* applies box-sizing to all elements of the program*/
* {
    box-sizing: border-box;
}
/* Changes attributes and elements of the body of the program*/
body{
    
 display:grid;
 grid-template-columns:repeat(3,1fr);
 grid-template-rows: repeat(3,1fr);
 grid-template-areas: 
 "h1 h1 h1"
 "pinkdisplay menu menu"
 "logo logo logo"
 "bride-and-groom weddingfall rings"
 "weddingBW weddingcake weddingcake"
 "footer footer footer";
}

/*{
    color:#0C0F0A;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: ;
}*/

/* Displays characteristics of elements in the container, size, color ...*/
.container{
    display:grid;
    width:50%;
    background-color:#0C0F0A;
}
/*Changes attributes and elements of the footer of the program*/
footer{
    Display:grid;
    color:white;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "signature signature signature"
    "icons icons icons"
    "copyright copyright copyright";
}

/* Changes the attributes and elements in section pink display*/
.pinkdisplay {

    width:3rem;
    align-self: flex-start;
}

/*Changes all atrribute and elements in a div*/
div{
    width:300%;
    color:#0C0F0A;
}
/* Changes attributes and elements in the section class about*/
.about{
    background-color:#FFDAD9;
    border:solid 2px #EA638C;
}
/* Changes all elements and characteristics of class portrait*/
.portrait{
    width:50%;
}
/* Changes all elements in class menu*/
.menu nav{
    font-family: Big Caslon;
    font-size: 24px;
    color:#0C0F0A;
}
/* Changes all elements in class menu hover*/
.menu :hover{
    color:#EA638C;
}

/* Elements and characteristics for h1 */
h1{
    font-family:AdornS Pomander;
    size: 72px;
    color:#EA638C;
}
/*Changes elements and characteristics of header 2-h2*/
h2{
    align-items: flex-end;
    font-size:14px;
    font-family:Big Caslon;
}

/* Changes the element h3 header and its attributes*/
h3{
    font-family: AdornS Pomander;
    font: size 24px;
}

/* Attributes for anything in  a paragraph element */
p{
font-family: Big Caslon;
Font-size:12px;
color:#0C0F0A;

}
/* Affetcs any image element in the program*/
img{
    display:block;
    border: solid 3px #FFEE88;

}
/* Changes attributes to image in logo class*/ 
.logo img,
.pinkdisplay img,
.footer img {
    border: none;
}
/*Changes the attributes in paragraph 1-p1 */
/*p1 {
    color:#EA638C;
}*/
/* Adjusts atrributes for screen size for Tablet*/
@media (min: width 690px){





}

/* Adusts attributes and elements for screen size Web page */

@media and screen (min-width: 900px){


.container{

}



}