/* Css for Home page*/
/* Changes attributes and elements of the body of the program*/
body{
    color:black;
}
/* Displays characteristics of elements in the container, size, color ...*/

.container{
    display:grid;
    color:Black;
}
/*Changes attributes and elements of the footer of the program*/

footer{
  color:white;
}

/* Elements and characteristics for h1 */
.h1{
    font-family:AdornS Pomander;
    size: 72px;
    color:#EA638C;

}

/* Attributes for anything in paragraph element */
p{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color:Black;

}

image{
    display:block;

}

/* Adjusts atrributes for screen size for Tablet*/
@media (min: width 690px){





}

/* Adusts attributes and elements for screen size Web page */

@media and screen (min-width: 900px){


.container{

}
]


}