/* Css for Home page*/

/* applies box-sizing to all elements of the program*/
* {
    box-sizing: border-box;
}
/* Changes attributes and elements of the body of the program*/
body{
    color:#0C0F0A;
}
/* Displays characteristics of elements in the container, size, color ...*/

.container{
    display:grid;
    width:50%;
    color:#0C0F0A;
}
/*Changes attributes and elements of the footer of the program*/

footer{
  color:white;
}
/* Changes the attributes and elements in section pink display*/
.pinkdisplay {

    width:3rem;
}

/*Changes all atrribute and elements in a div*/
div{
    width:500%;
    padding:10px;
    color:#0C0F0A;
}
/* Changes attributes and elements in the section class about*/
.about{
    background-color:#FFDAD9;
    border:solid 2px #EA638C;
}

.nav{
    font-family: Big Caslon;
    font-size: 72px;
}

/* Elements and characteristics for h1 */
h1{
    font-family:AdornS Pomander;
    size: 72px;
    color:#EA638C;
}
/*Changes elements and characteristics of header 2-h2*/
h2{
    align-items: flex-end;
    font-size:14px;
    font-family:Big Caslon;
}
/* Attributes for anything in  a paragraph element */
p{
font-family: Big Caslon;
Font-size:12px;
color:#0C0F0A;

}
/* Affetcs any image element in the program*/
image{
    display:block;

}

/* Adjusts atrributes for screen size for Tablet*/
@media (min: width 690px){





}

/* Adusts attributes and elements for screen size Web page */

@media and screen (min-width: 900px){


.container{

}



}