   /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}


/*------------Css Reset--------------*/

/* ---Custome Css ------*/


/* Mobile View */

/* container size */
.container {
    max-width: 1200px;

}
/* body style and margins */
body {
    margin: 10%;
    font-family: Open Sans;
    line-height: 1rem;
}
/* styles and color for main class */
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}
/* Position of Header h1 and font style/ size */
h1 {
    position: absolute;
    bottom: 450px;
    left: 90px;
    font-size: 36px;
    color: white;
}
/* Position/font color and styles of h2 */
h2 {
    font-family: sans-serif;
    font-size: 60px;
    color:black;
}
/* Position/font color and styles of h3 */
h3{ 
    font-family: sans-serif;
    font-size: 72px;
    color: black;
}
/* Position/font color and styles of h4 */
h4 {
    font-size: 18px;
    font-weight: bold;
}
/*Position/font color and styles of h5 */
h5{
    font: size 60px;
    color:black;
    font-family:sans serif;
}
/* color and styling of all the sections*/
section{
    background-color: #ffe6ac;
    image-rendering: inherit;
}

/* color and styling of all paragraphs */
.paragraph {
    position: absolute;
    font-size: 12px;
    color: white;
}
/* color and style of navbar list items */    
.navbar li ul{
    padding: 1rem;
    display: inline ;
    text-align: center;
    font-size: 18px;
    color: #c78c06;
    background-color:#222;
    }
/* positions navbar image and margins */
.logo img{
    float: left;
    margin:1rem;
}
/* color and styles hover for the navbar */
.navbar :hover {
    
    color:#c78c06;
    }
/* color and styles class aboutus */
.aboutus {
    background-color: #ffe6ac;
    }

/* dynamics of image in class aboutimg*/
.aboutimg{
    width:100%;
    float:center;
    max-width: 400px;
    max-height: 600px;
    margin:1rem;
}
/* Border and colors for Location table */
table{
    border-collapse:collapse;
    border:1px solid black
}
/*Location table th boxes background color*/
th{
    background-color: #ffe6ac;
}
/* Footer color, and size fonts */
footer{
    background-color:#222;
}
/
button {
    background-color:#222;
    font-size: 16px;
    color: white;
}
 
.paragraph {
    left: 90px;
    bottom: 350px;
    padding: 20px;
}
/* Desk top */

@media screen and (min-width: 760px) {
    img {
        width:100%;
    }
    
    
    nav {
        
        border-top: none;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background-color: #c78c06;
    }
    
}


    nav li{
        display:inline;
    }
    main{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
        grid: template rows 1fr 1fr 1fr; 
    }
    a{
        display:in-line block;
    }
